<!DOCTYPE html>
<hmtl>
    <head>
        <title>Blog Here</title>

    </head>

    <body>
    <nav>



    </nav>
    <content>
        <p>Stuff goes here!</p>
        <div>

            {% for post in posts %}
                <div class="post">
                <p class="Published">Published: {{  post.published_date }}</p>
                <h1 class="postTitle"><a href=""">{{ post.title }}</a></h1>
                <p>{{ post.text|linebreaksbr }}</p>

                </div>
            {% endfor %}
        </div>
    </content>
    <footer>
        <p>Copyright Us 2018</p>



    </footer>
    </body>












</hmtl>
